<!-- displayPlaylist.html -->
<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	ul{
		list-style-type: none;
	}
</style>
</head>
<body>
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Songs</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="plist:${allPlaylists}">
				<td th:text="${plist.name}"></td>
				<td >
					<ul th:each="song:${plist.songs}">
						<li th:text="${song.name}"</li>
						<li><audio controls th:src="${song.link}"></audio>	</li>
					</ul>
				</td>
			</tr>
		</tbody>
	
	</table>
</body>
</html>